@use '../utils/variables' as var;
@use '../utils/placeholders' as *;

.about {
  background-color: var.$color-gray-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.about__heading-secondary {
  @extend %heading-secondary;
}

.about__heading-tertiary {
  @extend %heading-default;
}

.about__paragraph {
  font-size: var.$text-base;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
